<p id="notice"><%= notice %></p>

<p>
  <strong>Pretty:</strong>
  <%= @dog.pretty %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dog.email %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
