<p id="notice"><%= notice %></p>

<p>
  <strong>Pretty:</strong>
  <%= @cat.pretty %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cat.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cat.email %>
</p>

<%= link_to 'Edit', edit_cat_path(@cat) %> |
<%= link_to 'Back', cats_path %>
